In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('country_vaccination_stats.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [4]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [5]:
df[df.daily_vaccinations.isna()].head()

       country        date  daily_vaccinations                    vaccines
0    Argentina  12/29/2020                 NaN                   Sputnik V
28     Austria    1/5/2021                 NaN             Pfizer/BioNTech
48     Bahrain  12/23/2020                 NaN  Pfizer/BioNTech, Sinopharm
77     Belgium  12/28/2020                 NaN             Pfizer/BioNTech
103     Brazil   1/16/2021                 NaN                     Sinovac

In [6]:
df[df.daily_vaccinations.isna()].country.nunique()

60

In [7]:
for country in df.country.unique():
    min_vacc_num = df[df['country'] == country].daily_vaccinations.min()
    df[df['country'] == country] = df[df['country'] == country].fillna(value= min_vacc_num)

In [8]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [9]:
df[df.daily_vaccinations.isna()]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [10]:
df[df.daily_vaccinations.isna()].index

Int64Index([750], dtype='int64')

In [11]:
df.iloc[750] = df.iloc[750].fillna(value=0.0)

In [12]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [13]:
df.isna().sum().any()

False

In [14]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [15]:
df[df.daily_vaccinations.isna()]

Empty DataFrame
Columns: [country, date, daily_vaccinations, vaccines]
Index: []