In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('country_vaccination_stats.csv')

In [5]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 29.4+ KB

In [7]:
df.daily_vaccinations = df.daily_vaccinations.fillna(value=0.0)

In [11]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [9]:
df.isna().sum().any()

False

In [10]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 0.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V